.modalContainer {
  position: relative;
}
.modalContainer {
  background-color: green;
  display: none;
  position: absolute;
}

.show {
  display: block;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
}
