.header {
  text-align: center;
}
.eventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

@media (min-width: 600px) {
  .eventsContainer {
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .eventsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .eventsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
